---
import LinkButton from "./LinkButton.astro";

---

<header class="flex gap-5 justify-between content-center items-center py-8 px-4 mx-auto max-w-xl">
    <div >
        <h3 class="text-2xl font-bold">Liga Bazooka</h3>
    </div>
    <nav class="flex gap-6">
        <LinkButton>BATTLECATS</LinkButton>
        <LinkButton>BATALLAS</LinkButton>
        <LinkButton>ENTRADAS</LinkButton>
    </nav>
</header>
